{% extends 'base.html.twig' %}

{% block body %}
{# {{dump()}} #}

<p>Voir mon profil : <a href="{{path("user_show",{"id":app.user.id}) }}">Cliquez ici</a></p>
<p>Modifier mon profil : <a href="{{path("user_edit",{"id":app.user.id}) }}">Cliquez ici</a></p>

{% for produit in produits %}


<p> Nom du jeux: {{produit.nom}}</p>
<p> Son état: {{produit.etat}}</p>
<p> Transaction :{{produit.transaction}}</p>
{# <p>{{produit.ville}}</p> #}

{% endfor %}

{% endblock %}